
@model Toko_Sumi.VIEWMODELS.VMCategory
@{
    Layout = null;
}
<h1>Edit Category</h1>

<br />
<form asp-action="Edit" asp-controller="Category" method = "post">
    <input type="hidden" Value="@Model.IdCategory" name="IdCategory" id="NameCategory" />
     <div class="mb-3">
       @*for harus sama dengan id*@
          <label for="nama_category" class="form-label">Nama Kategori</label> 
          <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Deskripsi</label>
              <textarea class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
            </div>
        
         <div class="modal-footer">
             <button class="btn btn-primary" type="submit">Submit</button>   
             <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Category">Back to list</a>
        </div>
</form>

        @*<br></br>
<a class="btn btn-outline-primary" asp-action="Index" asp-controller="Category">Back to list</a> *@